# Makefile for libphonebook
# Copyright (C) 2017 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

# boost: thread is needed by locale
#APP_BOOST_LIB_NAMES := system filesystem locale date_time regex thread

APP_THIRDPARTY_LIBS = -lm

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
	utils \
